<ion-view view-title="Match History">
    <ion-content class="padding">
        <div class="card" ng-hide="!history.length">
            <div class="row item item-divider">
                <div class="col col-75">Matches</div>
                <div class="col">Scores</div>
            </div>
            <div class="row item" ng-repeat="match in history | orderBy:'-date' track by $index">
                <div class="col col-75">
                    {{ match.teams[0].members[0].slice(0,4) }}/{{ match.teams[0].members[1].slice(0,4) }} vs.
                    {{ match.teams[1].members[0].slice(0,4) }}/{{ match.teams[1].members[1].slice(0,4) }}
                </div>
                <div class="col">{{ match.teams[0].score }} - {{ match.teams[1].score }}</div>
            </div>
        </div>
        <div class="card" ng-hide="history.length">
            <div class="item">No matches found</div>
        </div>
        <button class="button button-block button-dark" ng-click="clearMatchHistory()" ng-hide="!history.length">
            Clear Match History
        </Button>
    </ion-content>
</ion-view>