<label class="item item-input">
  <span class="input-label">Score</span>
  <input ng-model="game.newScore" type="number">
</label>
<div class="button-bar">
  <button class="button button-icon" ng-click="game.newScore = game.newScore + 1">+1</button>
  <button class="button button-icon" ng-click="game.newScore = game.newScore + 5">+5</button>
  <button class="button button-icon" ng-click="game.newScore = game.newScore + 10">+10</button>
  <button class="button button-icon" ng-click="game.newScore = game.newScore + 25">+25</button>
</div>
